#hero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0 30em;
    h1{
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p{
        font-size: 20px
    };
}

